{
  "openapi": "3.0.1",
  "info": {
    "title": "Sprouts MultiQuery API",
    "version": "3.0.0",
    "contact": {
      "name": "SproutsAI",
      "url": "https://www.sprouts.ai",
      "email": "admin@sprouts.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.sprouts.ai"
    }
  ],
  "paths": {
    "/v1/target_profiles/contacts": {
      "post": {
        "tags": [
          "target-profile-controller"
        ],
        "operationId": "createTargetProfileContact",
        "parameters": [
          {
            "name": "X-Login-Email",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTargetProfileContactRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/target_profiles/accounts": {
      "post": {
        "tags": [
          "target-profile-controller"
        ],
        "operationId": "createTargetProfileAccount",
        "parameters": [
          {
            "name": "X-Login-Email",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTargetProfileAccountRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/search/filters": {
      "get": {
        "tags": [
          "search-controller"
        ],
        "operationId": "getDatabaseFilter",
        "parameters": [
          {
            "name": "databaseName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "search-controller"
        ],
        "operationId": "createDatabaseFilter",
        "parameters": [
          {
            "name": "databaseName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/search/contacts": {
      "post": {
        "tags": [
          "search-controller"
        ],
        "operationId": "searchContacts",
        "parameters": [

        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoContactExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search/accounts": {
      "post": {
        "tags": [
          "search-controller"
        ],
        "operationId": "searchAccounts",
        "parameters": [

        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoAccountExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/search/contacts": {
      "post": {
        "tags": [
          "public-search-controller"
        ],
        "operationId": "searchContacts_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoContactExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/search/accounts": {
      "post": {
        "tags": [
          "public-search-controller"
        ],
        "operationId": "searchAccounts_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoAccountExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/external_search/{databaseName}/contacts": {
      "post": {
        "tags": [
          "public-external-search-controller"
        ],
        "operationId": "searchContacts_2",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoContactExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/external_search/{databaseName}/accounts": {
      "post": {
        "tags": [
          "public-external-search-controller"
        ],
        "operationId": "searchAccounts_2",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoAccountExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/filters": {
      "get": {
        "tags": [
          "filter-controller"
        ],
        "operationId": "getDatabaseFilter_1",
        "parameters": [
          {
            "name": "databaseName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "filter-controller"
        ],
        "operationId": "createDatabaseFilter_1",
        "parameters": [
          {
            "name": "databaseName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/external_search/{databaseName}/filters": {
      "get": {
        "tags": [
          "database-filter-controller"
        ],
        "operationId": "getDatabaseFilter_2",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "database-filter-controller"
        ],
        "operationId": "createDatabaseFilter_2",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/external_search/{databaseName}/contacts": {
      "post": {
        "tags": [
          "external-search-controller"
        ],
        "operationId": "searchContacts_3",
        "parameters": [
          {
            "name": "X-Login-Email",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoContactExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/external_search/{databaseName}/accounts": {
      "post": {
        "tags": [
          "external-search-controller"
        ],
        "operationId": "searchAccounts_3",
        "parameters": [
          {
            "name": "X-Login-Email",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoAccountExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/search": {
      "post": {
        "tags": [
          "contact-controller"
        ],
        "operationId": "searchContacts_4",
        "parameters": [

        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchSnakeCaseRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSnakeCaseResponseDtoContactExternalSearchSnakeCaseResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/search": {
      "post": {
        "tags": [
          "account-controller"
        ],
        "operationId": "searchAccounts_4",
        "parameters": [

        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalSearchSnakeCaseRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSnakeCaseResponseDtoAccountExternalSearchSnakeCaseResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search/filters/tags/{kind}": {
      "get": {
        "tags": [
          "search-controller"
        ],
        "operationId": "searchTags",
        "parameters": [
          {
            "name": "databaseName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoTagSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search/filters/companies": {
      "get": {
        "tags": [
          "search-controller"
        ],
        "operationId": "searchCompanies",
        "parameters": [
          {
            "name": "databaseName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoCompanySearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/search/contacts/{contactId}": {
      "get": {
        "tags": [
          "public-search-controller"
        ],
        "operationId": "getContactById",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContactExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/external_search/{databaseName}/contacts/{contactId}": {
      "get": {
        "tags": [
          "public-external-search-controller"
        ],
        "operationId": "getContactById_1",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContactExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/filters/tags/{kind}": {
      "get": {
        "tags": [
          "filter-controller"
        ],
        "operationId": "searchTags_1",
        "parameters": [
          {
            "name": "databaseName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoTagSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/filters/companies": {
      "get": {
        "tags": [
          "filter-controller"
        ],
        "operationId": "searchCompanies_1",
        "parameters": [
          {
            "name": "databaseName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoCompanySearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/external_search/{databaseName}/filters/tags/{kind}": {
      "get": {
        "tags": [
          "database-filter-controller"
        ],
        "operationId": "searchTags_2",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoTagSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/external_search/{databaseName}/filters/companies": {
      "get": {
        "tags": [
          "database-filter-controller"
        ],
        "operationId": "searchCompanies_2",
        "parameters": [
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseDtoCompanySearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/external_search/{databaseName}/contacts/{contactId}": {
      "get": {
        "tags": [
          "external-search-controller"
        ],
        "operationId": "getContactById_2",
        "parameters": [
          {
            "name": "X-Login-Email",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContactExternalSearchResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/enrich/contacts": {
      "get": {
        "tags": [
          "enrichment-controller"
        ],
        "operationId": "enrichContact",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContactEnrichmentResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/enrich/accounts": {
      "get": {
        "tags": [
          "enrichment-controller"
        ],
        "operationId": "enrichAccount",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEnrichmentResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/enrich": {
      "get": {
        "tags": [
          "contact-controller"
        ],
        "operationId": "enrichContact_1",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContactEnrichmentSnakeCaseResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/enrich": {
      "get": {
        "tags": [
          "account-controller"
        ],
        "operationId": "enrichAccount_1",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEnrichmentSnakeCaseResponseDto"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountDto": {
        "required": [
          "domain"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          },
          "websiteUrl": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string"
          },
          "twitterUrl": {
            "type": "string"
          },
          "facebookUrl": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "rawAddress": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "streetAddress": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "employeeCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CreateTargetProfileContactRequestDto": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TargetProfileContactRequestDto"
            }
          }
        }
      },
      "TargetProfileContactRequestDto": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "database": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string"
          },
          "twitterUrl": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "account": {
            "$ref": "#/components/schemas/AccountDto"
          },
          "departments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "jobTitle": {
            "type": "string"
          },
          "designation": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "emailStatus": {
            "type": "string"
          },
          "phoneStatus": {
            "type": "string"
          }
        }
      },
      "CreateTargetProfileAccountRequestDto": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TargetProfileAccountRequestDto"
            }
          }
        }
      },
      "TargetProfileAccountRequestDto": {
        "required": [
          "domain"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "database": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "employeeCount": {
            "type": "integer",
            "format": "int32"
          },
          "industry": {
            "type": "string"
          },
          "websiteUrl": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string"
          },
          "facebookUrl": {
            "type": "string"
          },
          "twitterUrl": {
            "type": "string"
          },
          "rawAddress": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          },
          "streetAddress": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "foundedYear": {
            "type": "integer",
            "format": "int32"
          },
          "retailLocation": {
            "type": "string"
          }
        }
      },
      "ExternalSearchRequestDto": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "sortBy": {
            "type": "string"
          },
          "sortOrder": {
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          "customerId": {
            "type": "string"
          },
          "databaseName": {
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterRequestDto"
            }
          }
        }
      },
      "FilterRequestDto": {
        "type": "object",
        "properties": {
          "filterName": {
            "type": "string"
          },
          "filterKey": {
            "type": "string"
          },
          "filterData": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "ContactExternalSearchResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "database": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string"
          },
          "twitterUrl": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "account": {
            "$ref": "#/components/schemas/AccountDto"
          },
          "departments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "jobTitle": {
            "type": "string"
          },
          "designation": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "emailStatus": {
            "type": "string"
          },
          "phoneStatus": {
            "type": "string"
          },
          "targetProfile": {
            "type": "boolean"
          }
        }
      },
      "PagedResponseDtoContactExternalSearchResponseDto": {
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactExternalSearchResponseDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AccountExternalSearchResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "database": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          },
          "websiteUrl": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string"
          },
          "twitterUrl": {
            "type": "string"
          },
          "facebookUrl": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "rawAddress": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "streetAddress": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "foundedYear": {
            "type": "integer",
            "format": "int32"
          },
          "employeeCount": {
            "type": "string"
          },
          "retailLocation": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "targetProfile": {
            "type": "boolean"
          }
        }
      },
      "PagedResponseDtoAccountExternalSearchResponseDto": {
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountExternalSearchResponseDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ExternalSearchSnakeCaseRequestDto": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "page_size": {
            "type": "integer",
            "format": "int32"
          },
          "sort_by": {
            "type": "string"
          },
          "sort_order": {
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterSnakeCaseRequestDto"
            }
          }
        }
      },
      "FilterSnakeCaseRequestDto": {
        "type": "object",
        "properties": {
          "filter_name": {
            "type": "string"
          },
          "filter_key": {
            "type": "string"
          },
          "filter_data": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "ContactExternalSearchSnakeCaseResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "database": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "twitter_url": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "account": {
            "$ref": "#/components/schemas/AccountDto"
          },
          "departments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "job_title": {
            "type": "string"
          },
          "designation": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "email_status": {
            "type": "string"
          },
          "phone_status": {
            "type": "string"
          },
          "target_profile": {
            "type": "boolean"
          }
        }
      },
      "PagedSnakeCaseResponseDtoContactExternalSearchSnakeCaseResponseDto": {
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactExternalSearchSnakeCaseResponseDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "total_elements": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AccountExternalSearchSnakeCaseResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "database": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "website_url": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "twitter_url": {
            "type": "string"
          },
          "facebook_url": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "raw_address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "street_address": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "founded_year": {
            "type": "integer",
            "format": "int32"
          },
          "employee_count": {
            "type": "string"
          },
          "retail_location": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "target_profile": {
            "type": "boolean"
          }
        }
      },
      "PagedSnakeCaseResponseDtoAccountExternalSearchSnakeCaseResponseDto": {
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountExternalSearchSnakeCaseResponseDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "total_elements": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PagedResponseDtoTagSearchResponseDto": {
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSearchResponseDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "TagSearchResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          }
        }
      },
      "CompanySearchResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PagedResponseDtoCompanySearchResponseDto": {
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanySearchResponseDto"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AccountEnrichmentResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "websiteUrl": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string"
          },
          "twitterUrl": {
            "type": "string"
          },
          "facebookUrl": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "employeeCount": {
            "type": "integer",
            "format": "int32"
          },
          "annualRevenue": {
            "type": "string"
          },
          "annualRevenueNumeric": {
            "type": "integer",
            "format": "int64"
          },
          "totalFunding": {
            "type": "integer",
            "format": "int64"
          },
          "latestFundingRoundDate": {
            "type": "string"
          },
          "latestFundingStage": {
            "type": "string"
          },
          "latestFunding": {
            "type": "string"
          },
          "latestFundingAmountNumeric": {
            "type": "integer",
            "format": "int64"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "technologies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ContactEnrichmentResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "seniority": {
            "type": "string"
          },
          "linkedInUrl": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "account": {
            "$ref": "#/components/schemas/AccountEnrichmentResponseDto"
          }
        }
      },
      "AccountEnrichmentSnakeCaseResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "website_url": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "twitter_url": {
            "type": "string"
          },
          "facebook_url": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "employee_count": {
            "type": "integer",
            "format": "int32"
          },
          "annual_revenue": {
            "type": "string"
          },
          "annual_revenue_numeric": {
            "type": "integer",
            "format": "int64"
          },
          "total_funding": {
            "type": "integer",
            "format": "int64"
          },
          "latest_funding_round_date": {
            "type": "string"
          },
          "latest_funding_stage": {
            "type": "string"
          },
          "latest_funding": {
            "type": "string"
          },
          "latest_funding_amount_numeric": {
            "type": "integer",
            "format": "int64"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "technologies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ContactEnrichmentSnakeCaseResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "job_title": {
            "type": "string"
          },
          "seniority": {
            "type": "string"
          },
          "linked_in_url": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "account": {
            "$ref": "#/components/schemas/AccountEnrichmentSnakeCaseResponseDto"
          }
        }
      }
    }
  }
}
